.menu {
    display: inline-flex;        
    align-items: center;
}

.menu > .liveicon {
    margin-left: 18px;
}

.menu > .searchmenu {
    margin-left: 18px;    
}

.menu > .searchmenu > input {
    width:100%;    
    border: 1px;
    border-radius: 2px;
    height: 25px;
    padding: 0 5px;
    font-size: 14px;
    background-color:#121212;
    color: #FFF;
    
}

.menu > .searchicon > button {
    background-color: Transparent;
    border: none;
}

.menu > .searchicon {
    margin-top: 4px;
}

.menu > .menuitem {
    padding:10px;    
}

.menu > .menuitem > a {
    font-weight: bold;
    font-size: 14px;
}

.menu > .menuitem > header {
    width: 35px;
    height: 35px;
    background-size: cover;
    border-radius: 4px;
    float: right;
}

.menu > .profilepic {
    margin-left: auto;
    order: 2;
}

