.aboutwrapper > .painel {
    display: flex;
    justify-content: center;
    margin-top:20px;
}

.aboutwrapper > .painel > .painelscreen > .preferencestext {
    width: 750px;
    margin-left:20px;
    padding-top:15px;  
    color:#586069;
    font-size: 12px;
}

.aboutwrapper > .painel > .painelscreen > .preferencestext  a {
    font-size: 12px;
    color:#0366d6;
}

.aboutwrapper > .painel > .painelscreen > .preferencestext a:hover {
    text-decoration: underline;
}