.profilesettingswrapper > .painel {
    display: flex;
    justify-content: center;
    margin-top:20px;
}

.profilesettingswrapper > .painel > .painelscreen > .form > form {
    padding-top:15px;
    margin-left:20px;
    padding-bottom:50px;
}

.profilesettingswrapper > .painel > .painelscreen > .form > form > input, .profilesettingswrapper > .painel > .painelscreen > .form > form > select {
    width: 400px;
    height: 35px;
    background-color:#fafbfc;
}

.profilesettingswrapper > .painel > .painelscreen > .deleteaccount > .deletetext, .profilesettingswrapper > .painel > .painelscreen > .form > form > p {    
    color:#586069;
    font-size: 12px;
}

.profilesettingswrapper > .painel > .painelscreen > .form > form > .differentpasswords > p {    
    color:#f00;
    font-weight: bold;
    font-size:15px;
}

.profilesettingswrapper > .painel > .painelscreen > .form > form > .differentpasswords {    
    padding-bottom: 15px;
}

.profilesettingswrapper > .painel > .painelscreen > .form > form > p > strong {
    font-size: 20px;
    color:rgb(255, 217, 0);
}

.profilesettingswrapper > .painel > .painelscreen .deleteaccount  {
    margin-left:20px;
    padding-top:15px;    
}

.profilesettingswrapper > .painel > .painelscreen .profileimage {    
    margin-top:15px;
    margin-left:100px;
    float: right;
}

.profilesettingswrapper > .painel > .painelscreen > .form {
    display: flex;
}

.profilesettingswrapper > .painel > .painelscreen > .deleteaccount > .deletebtn, .profilesettingswrapper > .painel > .painelscreen > .form > form > .profilebtn  {
    margin-top: 15px;
}

.profilesettingswrapper > .painel > .painelscreen .profileimage  > label#profilepiclabel {
    font-weight: bold;    
}

.profilesettingswrapper > .painel > .painelscreen .profileimage > label#profilepic {
    margin-bottom: 20px; 
    border: 1px dashed #ddd;
    background-size: cover;
    cursor: pointer;
    height: 200px;
    width: 200px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.profilesettingswrapper > .painel > .painelscreen .profileimage > label#profilepic input {
    display: none;
}

.profilesettingswrapper > .painel > .painelscreen .profileimage > label#profilepic.has-profilepic {
    border: 0;
}

.profilesettingswrapper > .painel > .painelscreen .profileimage > label#profilepic.has-profilepic img {
    display: none;
}
